<div class="container">
  <div class="row mt-3 mb-2 text-center">
    <div class="col">
      <h2 class="font-primary">Student List</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-search-bar (valueChange)="updateSearchBarFilter($event)"></app-search-bar>
    </div>
    <div class="col-2 flex-end">
      <button mat-flat-button
              [routerLink]="['new']"
              color="primary">
        New student
      </button>
    </div>
  </div>

  <div matSort
       (matSortChange)="updateSort($event)"
       class="row mx-0">
    <div class="col-4">
      <span mat-sort-header="name">Name</span>

    </div>
    <div class="col-6">
      <span mat-sort-header="therapies">Therapies</span>
    </div>
    <div class="col-2 flex-end">
      Actions
    </div>
  </div>

  <app-virtual-scroll [list]="list"
                      [ignoreNextBatch]="!hasMoreItems || loading"
                      height="70vh"
                      (getNextBatch)="getMoreItems.emit()">
    <ng-template let-item
                 let-index="index">
      <div class="row d-flex align-items-center py-3 mx-0"
           [ngClass]="{'bg-light': index % 2 === 1 }">
        <div class="col-4">
          {{ item.name }}
        </div>
        <div class="col-6">
          {{ item.therapies | arrayToString }}
        </div>
        <div class="col-2 flex-end">
          <button mat-icon-button
                  [routerLink]="[item.id]">
            <mat-icon>border_color</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-template>
  </app-virtual-scroll>
</div>
