<div class="container">
  <div class="row mt-3 mb-2 text-center">
    <div class="col">
      <h2 class="font-primary">Students</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-form-field class="w-100">
        <input matInput
               placeholder="Search...">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-6 flex-end">
      <button mat-flat-button
              [routerLink]="['new']"
              color="primary">
        New student
      </button>
    </div>
  </div>

  <app-virtual-scroll [list]="list"
                      [ignoreNextBatch]="!hasMoreItems || loading"
                      (nextBatchEmitter)="getMoreItems.emit()">
    <ng-template let-item
                 let-index="index">
      <div class="row d-flex align-items-center py-3 mx-0"
           [ngClass]="{'bg-light': index % 2 === 1 }">
        <div class="col-4">
          {{ item.name }}
        </div>
        <div class="col-6">
          {{ item.therapies | arrayToString }}
        </div>
        <div class="col-2 flex-end">
          <button mat-icon-button>
            <mat-icon>border_color</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-template>
  </app-virtual-scroll>
</div>
